<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %} Home {% endblock %}</title>
</head>

<body>
    {% block nav %}
    <div id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </div>
    {% endblock %}

    {% block content %}
    <div id="content">
        {% block page_content %} <h3>Welcome to the Home page</h3> {% endblock %}

        {% block page_footer %} <p>Copyright &copy; {{ current_year }} 2022</p> {% endblock %}

    {% endblock %}
</body>
</html>